

/* ****************** inicio estilizações lucas ****************** */

/* *********** estilizaçoes gerais ************** */
.bg-general{
    background-color: #212737 !important;
}

.nav-link{
    color: #fff !important;
}

.nav-link:focus,
.nav-link:hover{
    border: 1px solid #fff !important;
    border-radius: 3px !important;
}

/* estilizacoes pag. acessibilidade */
button.nav-link{
    color: inherit !important;
    font-weight: 600;
}
button.nav-link.active{
    color: inherit !important;
    background-color: rgb(218, 210, 252) !important;
}

ul{
    margin: 0 !important;
    padding: 0 !important;

}


@media (max-width: 768px) {
    div.tab-content{
        border: none !important;           
    }
}



/* estilizacoes header */
.dropdown-menu[data-bs-popper]{
    top: 60px;
    left: inherit !important;
}

#ocultar{
    left: -9999px;
}

.content-acessibilidade{
    overflow-y: scroll !important;
    max-height: 100vh;
}

.get-content{
    position: absolute;
    left: -999rem;
}


/* **************** fim estilizações lucas ************************ */

/* inicio estilizacoes julia */


.body{
    text-align: justify;


}

.btn-primary{
    background-color: #191970 !important;
    border:none !important;
    padding: 5px !important;
}

#cardum{

    background-color: #008080 !important;
}

#carddois{

    background-color: #66CDAA !important;
}

#cardtres{

    background-color: #4682B4 !important;
}

p{
    font-family: 'Libre Franklin',  'Montserrat', 'Open Sans', sans-serif;
    font-size: 0.98em;
    text-align: justify;
    
}

h1,h2,h3,h4,h5{font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
}

#normas{
    width:190px;
}