

/* ****************** inicio estilizações lucas ****************** */

/* *********** estilizaçoes gerais ************** */
.bg-general{
    background-color: #212737 !important;
}

.nav-link{
    color: #fff !important;
}

.nav-link:focus,
.nav-link:hover{
    border: 1px solid #fff !important;
    border-radius: 3px !important;
}

/* estilizacoes pag. acessibilidade */
button.nav-link{
    color: inherit !important;
    font-weight: 600;
}
button.nav-link.active{
    color: inherit !important;
    background-color: rgb(218, 210, 252) !important;
}

ul{
    margin: 0 !important;
    padding: 0 !important;

}


@media (max-width: 768px) {
    div.tab-content{
        border: none !important;           
    }
}



/* estilizacoes header */
.dropdown-menu[data-bs-popper]{
    top: 60px;
    left: inherit !important;
}

#ocultar{
    left: -9999px;
}

.content-acessibilidade{
    overflow-y: scroll !important;
    max-height: 100vh;
}


/* **************** fim estilizações lucas ************************ */